/* ----------------------- section -------------------- */
.bg-section {
    background-image: url("../images/svg/bg-etape2-circle.svg"), url("../images/svg/bg-etape1.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 40vw, top center;
    background-size: 100% 120%, cover;
    overflow-y: scroll;
}

/* scrollbar css not supported for firefox  need to add @support ( ....)*/
.bg-section::-webkit-scrollbar {
    width: 0.8rem;
}

.bg-section::-webkit-scrollbar-track {
    background: #7db1ff;
    border-radius: 100vw;
    margin-block: 0.5rem;
}

.bg-section::-webkit-scrollbar-thumb {
    background: #5493FF;
    border: 0.25rem solid #7db1ff;
    border-radius: 100vw;
}

.bg-section::-webkit-scrollbar-thumb:hover {
    background: #486a9c;
}

/* ---------------------------- */

.row-wrapper {
    height: 91vh;
}

.w-60 {
    width: 60%!important;
}

.w-40 {
    width: 40%!important;
}

.img-assistant {
    width: 100%;
    max-height: 60vh;
}

.div-img-wrapper {
    height: inherit;
}

.div-img-wrapper svg {
    max-width: 100%;
    max-height: 35vh;
}
/* ------------------ user form ------------------- */
.user-form h4 {
    color: #3D5B8E;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.form-step label {
    color: #5493FF;
    padding: 1rem 1.75rem;
}

.user-form .form-control,
.user-form .form-select {
    border: none;
    border-radius: 1.5rem !important;
    box-shadow: 0 .5rem 1rem rgba(84, 147, 255, 0.4) !important;
    padding: 1rem 1.75rem;
    opacity: 0.6;
}

.user-form .form-select {
    color: #5493FF;
    cursor: pointer;
}

.user-form .form-select option {
    opacity: 1;
    font-size: 1.2rem;
    font-weight: 600;

}


.btn-next {
    border: none;
    background-color: #5493FF;
    color: white;
    box-shadow: 0 .5rem 1rem rgba(84, 147, 255, 0.4);
    padding: 0.3rem 2.5rem;
    transition: color .15s ease-in-out,box-shadow .15s ease-in-out ;
}

.btn-next:hover {
    color: white;
    box-shadow: none !important;
}

.btn-prev {
    font-size: 1.25rem;
    color: #5493FF;
    font-weight: 600;
}

.bubble-text {
    fill: #3D5B8E;
    font-size: 35px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-style: normal;
}

/* ---------------- type logement --------------- */
.type-logement h4 {
    color: #3D5B8E;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.type-logement a {
    width: 55%;
    margin-block: 1rem;
    display: block;
    color: #5493FF;
    font-size: 1.25rem;
    font-weight: 600;
    font-style: normal;
    padding: 0.75rem 1.5rem;
    background-color: rgba(247, 250, 255);
    border-radius: 1.25rem !important;
    box-shadow: 0px 10px 16px rgba(84, 147, 255, 0.3);
}

.type-logement img {
    max-height: 32px;
    margin-right: 1rem;
}

.type-logement h5 {
    color: #3D5B8E;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 1rem;
}

.card-pieces {
    background: transparent;
    border: none;
}

.nbr-piece {
    border-bottom: 2px solid #5493FF;
}

.nbr-piece label {
    color: #3D5B8E;
    padding: 0.25rem;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0 !important;
}



/*---------------------custom-input-number---------------- */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-input-number {
    text-align: right;
    width: 200px;
    /* margin: 0 auto; */
    float: left;
}

.cin-btn {
    display: inline-block;
    color: #3D5B8E;
    background: white;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 auto;
    font-size: 0.8rem;
    /* font-weight: 700; */
    height: 1.8rem;
    width: 1.8rem;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.cin-btn:active {
    background: #5493FF;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.cin-btn:focus {
    outline: none;
}

.cin-input {
    border: 0;
    box-shadow: inset 0 0 0 rgba(64, 150, 255, 0.1);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: transparent;
    margin: 0.5rem 0;
    pointer-events: none;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* -------------------------------------------- */


.img-form {
    max-width: 100%;
    max-height: 50vh;
    opacity: 0.45;
}

.img-logement {
    opacity: 0.45;
    transition: opacity 500ms ease-in, transform 0.5s ease;
}

#img-maison {
    max-width: 25%;
}

#img-villa {
    max-width: 45%;
    transform: translateY(-30%);

}

#img-apart {
    max-width: 30%;
    transform: translateY(-50%);
}

/* ---------------------show & hide img logement------------------- */
.show-apart {
    
    transform: translate(-100%, -15%) scale(1.5) !important;
}

.show-maison {
   
    transform: translate(100%, -60%) scale(2.5) !important;
}

.show-villa {
 
    transform: translate(0%, -40%) scale(2.5) !important;
}


.hide-apart {
    transform: translate(-90%, -70%) !important;
    opacity: 0;
}

.hide-maison {
    transform: translate(-90%, 0%) !important;
    opacity: 0;
}

.hide-villa {
    transform: translate(-90%, -20%) !important;
    opacity: 0;
}

/* ---------------- passage form ------------ */

.passage-form h4 {
    color: #3D5B8E;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-style: normal;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.passage-form .form-select {
    width: 120px;
    border: none;
    border-radius: 1.5rem !important;
    box-shadow: 0 .5rem 1rem rgba(84, 147, 255, 0.4) !important;
    padding: 0.8rem 1.25rem;
    opacity: 1;
    background-position: right 1rem center !important;
    cursor: pointer;
}

.passage-form .form-select,
.passage-form .form-select option {
    color: #5493FF;
    background-color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
    font-style: normal;
}

.product-check {
    background-color: #54A4FF;
    border: 2px solid white;
    border-radius: 50px;
    padding-right: 1rem;
}

.product-check .product-icon {
    background-color: white;
    border-radius: 50px;
    padding: 1rem;
    margin-left: -4px;
}

.product-check .product-icon img {
    width: 70%;
    display: block;
    margin-inline: auto;
}

.product-check span {
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
}

.product-check input {
    font-size: 1.25rem;
    cursor: pointer;
}

#select-parfum {
 opacity: 0.50;   
 transition: opacity 500ms ease-in;
}


/* ------------- form steps & img steps ------- */
.hide {
    display: none !important;
}

.form-step,
.img-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s ease-in;
}

.form-step-active {
    display: block;
}

.img-step-active {
    display: flex;
}


@keyframes animate {
    from {
        /* transform: scale(1, 0); */
        transform: translate(-50%);
        opacity: 0;
    }

    to {
        /* transform: scale(1, 1); */
        transform: translate(0%);
        opacity: 1;
    }
}