.bg-section {
    background-image: url("../images/svg/bg-login.svg");
    background-repeat:  no-repeat;
    background-position:  top center;
    background-size: cover;
}

.row-wrapper {
    height: 91vh;
}

.form-wrapper {
    width: 100%;
    max-width: 550px;
    margin-right: auto;
    margin-left: auto;
}

.form-wrapper h4 {
    color: #3D5B8E;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.75rem;
    margin-bottom: 4rem;
}

.form-wrapper .input-group {
    background-color: white;
    padding: 1rem 1.75rem;
    border-radius: 1.25rem !important;
    box-shadow: 0 .5rem 1rem rgba(84, 147, 255, 0.4) !important;
}

.form-wrapper .form-control ,
.form-wrapper .form-control:focus {
    border: none;
    box-shadow: none;
}

.btn-submit {
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    border-radius: 1.25rem;
    background-color: #5493FF;
    color: white;
    box-shadow: 0 .5rem 1rem rgba(84, 147, 255, 0.4);
    padding: 0.7rem 2rem;
    transition: box-shadow .15s ease-in-out ;
}

.btn-submit:hover {
    box-shadow: none !important;
}

.link-forgetpass {
    color: #3D5B8E;
}
.div-login {
    margin-top: 3.75rem;
    line-height: 2.5;
    padding: 0.75rem 1.5rem;
    background-color: rgba(255, 255, 255 , 0.6);
    border: 3px solid #FFFFFF;
    border-radius: 1.25rem !important;
    box-shadow: 0px 10px 16px rgba(84, 147, 255, 0.3);
}

.div-login span {
    color: #3D5B8E;
    font-size: 1rem;
    font-weight: 600;
}

.div-login a img {
    max-width: 28px;
}