$color-1 : #5493FF;
$color-2 : #3D5B8E;
$color-3 : #7DB1FF;
$color-4 : #486A9C;
$color-5 : #C8DEFF;
$color-6 : #F7FAFF;
$color-7 : #FFD700;
$color-8 : #85720A;
$color-9 : #5C4E00;
$light-color : #ffff;
