.height-91 {
    height: 91vh;
}
.py-6 {
    padding-top: 6vh;
    padding-bottom: 6vh;
    // padding-block: 6vh;
}
.px-4rem {
    margin-right: 4rem;
    margin-left: 4rem;
}
.w-60 {
    width: 60%!important;
}

.w-40 {
    width: 40%!important;
}