@use '../abstracts' as *;

.header-prof {
    background-image: url("../images/bg-header-prof-2.png") , url("../images/bg-header-prof@2x.png") ;
    background-repeat: no-repeat , no-repeat;
    background-position: right -268px center , top center;
    background-size: contain , 100% 90% ;
    .big-title {
        font-size: clamp(2.5rem, 2rem + 2vw, 4rem);
    }
    .span-lg {
        color: $light-color;
    }
    .slogan {
        color: $color-2;
        font-weight: 600;
    }
}

.section-prof-1 {
    .h-sec {
        color: $color-2;
        text-align: center;
    }
    .div-wrapper-hexagone {
        // outline: 2px solid black;
        position: relative;
        width: 453px;
        height: 679px;
        .div-hexagone {
            position: absolute;
            display:inline-block;
            width:180px;
            filter:url(#round);
            cursor: pointer;
            &:before {
                content:"";
                display:block;
                padding-top:200px;
                clip-path: polygon(50% 0, 100% 23%, 100% 77%, 50% 100%, 0 77%, 0 23%);
                filter: brightness(0.6);
                transition: .2s background-color ease-in , .2s transform ease-in;
            }
            span {
                color: $light-color;
                font-weight: 600;
                width: fit-content;
                text-align: center;
                font-size: 1.1rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%)!important;
            }
            &:hover {
                &::before {
                    filter: brightness(1);
                    transform: scale(1.2 , 1.2);
                }
            }
        }
        .start-23 {
            left: -12% !important;
        }
        .active-hexagone {
            width: 280px;
            position: absolute;
            display:inline-block;
            filter:url(#round);
            &:before {
                content:"";
                display:block;
                padding-top:300px;
                clip-path: polygon(50% 0, 100% 23%, 100% 77%, 50% 100%, 0 77%, 0 23%);
            }
        }
        // dublicate the svg filter to create a border for the hexagone  
        .border-hexagone {
            width: 300px;
            position: absolute;
            display:inline-block;
            color: $color-1;
            filter:url(#round)  drop-shadow(0px 4px 6px rgba(0, 0, 0 , 0.2));
            &:before {
                content:"";
                display:block;
                padding-top:320px;
                background:currentColor;
                clip-path: polygon(50% 0, 100% 23%, 100% 77%, 50% 100%, 0 77%, 0 23%);
            }
        }

        .img-nett_vitre {
            &::before {
                background-image: url("../images/services/img-nett_vitre.png");
                background-repeat: no-repeat;
                background-position: top center;
                background-size: cover;
            }
        }
        .img-nett_pro {
            &::before {
                background-image: url("../images/services/img-nett_pro.png");
                background-repeat: no-repeat;
                background-position: top center;
                background-size: cover;
            }
        }
        .img-cristalisation {
            &::before {
                background-image: url("../images/services/img-cristalisation.png");
                background-repeat: no-repeat;
                background-position: top center;
                background-size: cover;
            }
        }
        .img-desinfection {
            &::before {
                background-image: url("../images/services/img-desinfection.png");
                background-repeat: no-repeat;
                background-position: top center;
                background-size: cover;
            }
        }
        .img-lavage_sec {
            &::before {
                background-image: url("../images/services/img-Lavage_sec.png");
                background-repeat: no-repeat;
                background-position: top center;
                background-size: cover;
            }
        }
        .img-jardinage {
            &::before {
                background-image: url("../images/services/img-jardinage.png");
                background-repeat: no-repeat;
                background-position: top center;
                background-size: cover;
            }
        }
    }
    .service-info-hexa {
        width: 500px;
        position: relative;
        img {
            width: 100%;
        }
        .service-info {
            width: 60%;
            display: none;
            position: absolute;
            top: 50%;
            left: 56%;
            transform: translate(-50%,-50%)!important;
            h4 {
                text-align: center;
                color: $color-1;
                font-weight: bold;
                // font-size: 1.25rem;
            }
            p {
                text-align: justify;
                color: $color-2;
            }
            h5 {
                color: $color-1;
                font-weight: 600;
                margin: 0 !important;
            }
        }
    }
}

.section-prof-2 {
    box-shadow: 0px -6px 6px 10px #5493ff0a;
    .h-sec {
        color: $color-2;
        text-align: center;
        margin-top: 4rem;
    }
    
    .service-prof-card {
        cursor: pointer;
        transition: .2s background-color  ease-in;
        h4 {
            color: $color-1;
            font-family: 'Ubuntu', sans-serif;
            font-weight: bold;
            font-size: 1.25rem;
            text-align: center;
        }
        svg {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        p {
            color: $color-2;
            text-align: center;
            font-weight: 600;
        }
        .plus-info-link {
            a {
                text-decoration: none;
                color: $color-1;
                font-weight: bold;
                transition: .2s transform ease-in ;
            }   
            img {
                max-width: 35px;
                transition: .2s transform ease-in ;
            }         
        }
        &:hover {
            background-color: #E6F7FF;
            box-shadow: 0px 4px 12px rgba(61, 91, 142, 0.1);
            .svg-circle {
                fill: transparent;
                transition: .2s fill ease-in ;
            }
            .svg-icon {
                fill: $color-1;
                transition: .2s fill ease-in ;
            }
            .svg-eco-icon {
                fill: $light-color;
                transition: .2s fill ease-in ;
            }
            .plus-info-link {
                a {
                    transform: translateX(-10%) ;
                }
                img {
                    transform: translateX(10%) ;
                }
            }
        }
    }
}