@use '../abstracts' as *;

.bg-selection {
    background-image: url("../images/svg/bg-etape1.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.h-title {
    font-size: clamp(2rem , 3vw , 3.75rem );
    color: $color-2;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    margin-bottom: 3vh;
}

.img-sex {
    width: 100%;
    max-height: 45vh;
    &:hover {
        opacity: 1;
    }
}

.card-select {
    padding: 2rem;
    margin-inline: clamp(1rem , 2vw , 2.25rem);
    background-color: rgba(247, 250, 255, 0.7); 
    border-radius: 2.25rem!important;
    box-shadow: 0px 6px 12px rgba(84, 147, 255, 0.3);
    transition:  background-color 100ms  ease , box-shadow 100ms ease;
    &:hover {
        outline: 4px solid $color-1;
        background-color: rgba(247, 250, 255, 0.5); 
        box-shadow: none;
    }
    h3 {
        color: $color-1;
        font-weight: bold;
        font-style: normal;
        font-size: clamp(1rem , 2vw , 1.75rem);
        margin-bottom: 2rem;
        text-align: center;
    }
}

.link-goback {
    font-size: 1.25rem;
    color: $color-1;
    font-weight: 600;
    font-style: normal;
}