@use '../abstracts' as *;

body {
    background-color: #f7faff;
}
.bg-section-services {
    background-image: url("../images/bg-section-reserver2x.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}
/* -------------------- swiper -------------------- */
.div-swiper {
    /* height: 91vh; */
    height: auto;
}

.swiper {
    padding-block: 5rem!important;
    padding-inline: 6rem !important;
}

.swiper-slide {
    width: 60%!important;
    margin-inline: auto;
}

.swiper-button-next, 
.swiper-button-prev {
    width: auto !important;
}
.swiper-button-next::after, 
.swiper-button-prev::after {
    content: ""!important;
}
// ------------- services card --------------- 
.card-service {
    .img-wrapper {
        margin-top: -3rem;
        background-color: $light-color;
        padding: 1.5rem;
    }
    .card-img-top {
        width: 100%;
        max-height: 15vh;
    }
    h4 {
        color: $color-1;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
}


.list-taches {
    border: none;
    background-color: rgba(255, 255, 255);
    border-radius: 1.25rem!important;
    li {
        font-size: 0.8rem;
        color: $color-2;
        &::marker {
            color: $color-1;
        }
    }
    h5 {
        font-size: 1rem;
        font-weight: 600;
        font-style: normal;
        color: $color-1;
    }
}

